*{
    margin:0;
    padding: 0;
}
#main{
    
    margin-left: 100px;
    
}
.logo{
    position:relative;
    background-image: url("logo.png");
    width: 800px;
    height: 400px;
}
nav{
    color: white;
    cursor: pointer;
    float: right;
    padding:10px;
}
.box{
    position: relative;
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 60px;;
}
.symb{
    color: red;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
}
span{
    position: relative;
    top: 8px;
    left: 35px;
    font-size:50px;
}
#text h3
{
    padding-top: 140px;
    padding-left: 250px;
    font-size: 15px;
}
#location{
    padding-left: 250px;
}
#side{
    padding: 20px;
    }
.row{
    margin: 20px;
}
.col{
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 5px 0px grey;
}
.col img{
    width: 100px;
    float: left;
}
.col p{
    font-size: 12px;
}